<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1054951972389-uv3hq3obdl789bfnk4rc0h3tdlq416oh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1054951972389-uv3hq3obdl789bfnk4rc0h3tdlq416oh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1054951972389-j90q6hvr2ip3ms4t4vbee4knon6uslv8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBiRk8gI9Wkl092brhPgy2X1Wu3Oltj5_8</string>
	<key>GCM_SENDER_ID</key>
	<string>1054951972389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Mstream</string>
	<key>PROJECT_ID</key>
	<string>mstream-9122e</string>
	<key>STORAGE_BUCKET</key>
	<string>mstream-9122e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1054951972389:ios:b7bf9b0cc84ce0c01d29cc</string>
	<key>DATABASE_URL</key>
	<string>https://mstream-9122e.firebaseio.com</string>
</dict>
</plist>